*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Dela Gothic One', cursive;
   
}
.nav{
    background-color: 0,0,0,0;
    position: fixed;
    width: 100%;
    z-index: 1;  
    
}

.nav a {
    float: right;
    color: black ;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: white;
    width: 30px;
    height: 27px;
    margin: 10px;
    border-radius: 25px;
        

}

.image_container{
    height: 100vh;
    position: relative;

}

#differente{
background-color: red;
}

#tommy{
background-color: green;
}

#converse{
background-color: yellow;
}

.prodotto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


.testo{
    color: yellow;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 20px;
    font-size: larger;
}


.testo2{
    color: green;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 20px;
    font-size: larger;
}
