*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: 0,0,0,0;
    position: fixed;
    top:0;
    width: 100%;
}
.nav a {
    float: right;
    color: black ;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: white;
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 25px;

}

.image_container{
    height: 100vh;

}

#differente{
background-color: red;
}

#tommy{
background-color: green;
}

#converse{
background-color: yellow;
}